<%= link_to "Back", :back %>

<h2>Edit my profile</h2>

<div class="component-container">
  <div class="form-box bg-white">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {turbo: false}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first_name" }%>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last_name" }%>
        <%= f.input :address,
                    required: true,
                    input_html: { autocomplete: "address" } %>
        <%= f.input :gender, collection: User::GENDERS,
                    required: true,
                    input_html: { autocomplete: "gender" } %>
        <%= f.input :weight,
                    required: true,
                    input_html: { autocomplete: "weight" } %>
        <%= f.input :height,
                    required: true,
                    input_html: { autocomplete: "height" } %>
        <%= f.input :belt, collection: User::BELTS,
                    required: false,
                    input_html: { autocomplete: "belt" } %>
        <%= f.input :years_of_experience,
                    required: false,
                    input_html: { autocomplete: "years_of_experience" } %>
        <%= f.input :training_style, collection: User::TRAINING_STYLES,
                    required: true,
                    input_html: { autocomplete: "training_style" } %>
        <%= f.input :description,
                    required: false,
                    input_html: { autocomplete: "description" } %>
        <%= f.input :photo, as: :file,
                  required: false,
                  input_html: { autocomplete: "upload an avatar"} %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "Type your current password to confirm the changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-primary d-block w-100" %>
      </div>
    <% end %>
  </div>
</div>

<h2>Cancel my account</h2>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
