<div class="component-container">
  <div class="banner" style="background-image: linear-gradient(rgba(54,77,94,0.8),rgba(54,77,94,0.9)), url(<%= asset_path "jiu-jitsu-bg.jpg" %>);">
    <h1><%= @message %></h1>
  </div>
  <div class="form-box bg-white mt-3">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |field| %>
      <%= render partial: 'shared/form', locals: { field: field } %>
    <% end %>
  </div>
</div>
<div class="text-center mt-3">
  <%= render "devise/shared/links" %>
</div>
