<div class="component-container">
  <% current_user.friends.each do |friend| %>
      <div class="d-flex card-grid">
        <% if friend.photo.key %>
          <%= cl_image_tag friend.photo.key, crop: :thumb, class: "rounded-circle avatar" %>
        <% else %>
          <%= image_tag "avatar.svg", alt: "user", width: 40, class: "avatar" %>
        <% end %>
        <div class="flex-grow-1">
          <p class="m-0"><strong><%= friend.first_name %> <%= friend.last_name %></strong></p>
          <small>
            <% if friend.years_of_experience > 0 %>
              <%= friend.years_of_experience%> years of experience
            <% else %>
              New to BJJ
            <% end %>
          </small>
        </div>
        <div>
          <% if !@guests_ids.include?(friend.id) %>
            <%= button_to "Invite",  {:controller => "guests", :action => "invite", :event_id => @event.id, :guest_id => friend.id },  {:method=>:post, class: "btn btn-primary d-block w-100"} %>
          <% else %>
            <%="#{friend.distance_to([current_user.latitude, current_user.longitude]).round(1)}"%> Km
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
