<% other_user = @chatroom.other_user(current_user) %>
<%= render 'shared/back_bar', text: "#{other_user.first_name} #{other_user.last_name}", user: other_user %>
<div class="chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="add-message">
    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>
      <%= f.input :content, as: :string,
        label: false,
        required: true,
        placeholder: "Type message",
        wrapper_html: {class: "flex-grow-1"},
        input_html: { data: { chatroom_subscription_target: "input" } }
      %>
      <%= f.submit "Send", class: "purple-circle-button" %>
    <% end %>
  </div>
</div>
