<h1>Notifications</h1>
<div class="component-container">
  <% if current_user.unread_notifications.empty? %>
    <div class="form-box bg-white">
      <p class="m-0">Nothing new. Come back later!</p>
    </div>
  <% else %>
    <% current_user.unread_notifications.each do |notification| %>
      <% if notification.params[:type] == "event" %>
        <%= link_to event_path(notification.params[:link_to], :notification_id => notification.id) , :action => 'go', class: "card-box bg-white" do %>
          <div class="d-flex card-grid">
            <%= image_tag "icons/calendar.svg", alt: "user", width: 30, class: "Calendar" %>
            <div class="flex-grow-1">
              <p class="m-0"><strong><%= "#{notification.params[:message]}" %></strong></p>
              <small><%= "#{time_ago_in_words(notification.created_at).capitalize}" %> ago</small>
            </div>
          </div>
        <% end %>
      <% elsif notification.params[:type] == "review" %>
        <%= link_to user_reviews_path(notification.params[:link_to], :notification_id => notification.id), :action => 'go', class: "card-box bg-white" do %>
          <div class="d-flex card-grid">
            <%= image_tag "icons/users.svg", alt: "user", width: 30, class: "Users" %>
            <div class="flex-grow-1">
              <p class="m-0"><strong><%= "#{notification.params[:message]}" %></strong></p>
              <small><%= "#{time_ago_in_words(notification.created_at).capitalize}" %> ago</small>
            </div>
          </div>
        <% end %>
      <% elsif notification.params[:type] == "user" %>
        <%= link_to user_path(notification.params[:link_to], :notification_id => notification.id), :action => 'go', class: "card-box bg-white" do %>
          <div class="d-flex card-grid">
            <%= image_tag "icons/users.svg", alt: "user", width: 30, class: "Users" %>
            <div class="flex-grow-1">
              <p class="m-0"><strong><%= "#{notification.params[:message]}" %></strong></p>
              <small><%= "#{time_ago_in_words(notification.created_at).capitalize}" %> ago</small>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
