<div class="component-container" data-controller="advanced-search">
  <div class="form-box bg-light-grey">
    <%# TODO: Logic for search and advanced search %>
    <%= form_with url: users_path, method: :get, class: "d-flex" do |form| %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-icon",
        placeholder: "Find partners close to this address"
      %>
      <a href="#" class="purple-circle-button" data-advanced-search-target="toggler"><%= image_tag "icons/sliders.svg", alt: "Advanced search", width: 20 %></a>
    <% end %>
  </div>

  <div id="advanced-search" data-advanced-search-target="search">
    <%= render 'shared/back_bar', link: "#" %>
    <div class="container">
      <h2>Find a partner</h2>
      <div class="component-container">
        <div class="form-box bg-white new-review">
          <%= form_with url: users_path, method: :get do |form| %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control mb-3",
              placeholder: "Close to this address"
            %>

            <%= text_field_tag :name,
              params[:name],
              class: "form-control mb-3",
              placeholder: "Name"
            %>

            <div class="row">
              <div class="col">
                <%= text_field_tag :minweight,
                  params[:minweight],
                  class: "form-control mb-3",
                  placeholder: "Min. Weight (kg)"
                %>
              </div>
              <div class="col">
                <%= text_field_tag :maxweight,
                  params[:maxweight],
                  class: "form-control mb-3",
                  placeholder: "Max. Weight (kg)"
                %>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <%= text_field_tag :minheight,
                  params[:minheight],
                  class: "form-control mb-3",
                  placeholder: "Min. Height (cm)"
                %>
              </div>
              <div class="col">
                <%= text_field_tag :maxheight,
                  params[:maxheight],
                  class: "form-control mb-3",
                  placeholder: "Max. Height (cm)"
                %>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <%= select_tag :belt,
                  options_for_select(User::BELTS, params[:belt]),
                  class: "form-select mb-3",
                  prompt: "Belt"
                %>
              </div>
              <div class="col">
                <%= select_tag :training_style,
                  options_for_select(User::TRAINING_STYLES, params[:training_style]),
                  class: "form-select mb-3",
                  prompt: "Training style"
                %>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <%= text_field_tag :minyears,
                  params[:minyears],
                  class: "form-control",
                  placeholder: "Min. Years"
                %>
              </div>
              <div class="col">
                <%= text_field_tag :maxyears,
                  params[:maxyears],
                  class: "form-control",
                  placeholder: "Max. Years"
                %>
              </div>
            </div>
            <div class="form-text mb-3">Years of experience</div>

            <%= select_tag :gender,
              options_for_select(User::GENDERS, params[:gender]),
              class: "form-select mb-3",
              prompt: "Gender"
            %>

            <%= form.submit "Search for partners", class: "btn btn-primary d-block w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% @users.each do |user| %>
    <% if user != current_user %>
      <%= render "shared/user", user: user %>
    <% end %>
  <% end %>
</div>
