<% if @user.id == current_user.id %>
  <%= render 'shared/back_bar', link: :back %>
<% else %>
  <%= render 'shared/back_bar' %>
<% end %>
<div class="form-box mb-0">
  <div class="text-center">
    <% if @user.photo.key %>
      <%= cl_image_tag @user.photo.key, crop: :thumb, class: "rounded-circle avatar-large" %>
    <% else %>
      <%= image_tag "avatar.svg", alt: "user", width: 40, class: "avatar-large" %>
    <% end %>
  </div>
</div>
<div class="component-container">
  <div class="form-box bg-white">
    <div class="d-flex justify-content-between mb-3">
      <h2 class="m-0"><%=@user.first_name%> <%=@user.last_name%></h2>
      <div class="rating">
        <% if @user.reviews.exists? %>
          <%= render "shared/stars", average_rating: @average_rating %>
        <% end %>
        <%= link_to  user_reviews_path(@user), class: "text-primary" do %>
          <%= pluralize( @user.reviews.count, 'review' ) %>
        <% end %>
      </div>
    </div>
    <div class="user-info">
      <% if @user.belt != "None" %>
        <p>
          <strong>Belt:</strong> <%=@user.belt%>
          <%= image_tag "belts/#{@user.belt.downcase}-belt.svg", alt: "belt", width: 20, class: "belt" %>
        </p>
      <% end %>
      <% if @user.years_of_experience > 0 %>
        <p><strong>Yrs of exp.:</strong> <%=@user.years_of_experience%></p>
      <% else %>
        <p><strong>Yrs of exp.:</strong> I'm new</p>
      <% end %>
      <p><strong>Weight:</strong> <%=@user.weight%> kg</p>
      <p><strong>Height:</strong> <%=@user.height%> cm</p>
      <p><strong>Gender:</strong> <%=@user.gender%></p>
      <p>
        <strong>Style:</strong>
        <% if @user.training_style != "Both" %>
          <%=@user.training_style%>
        <% else %>
          Gi / No-gi
        <% end %>
      </p>
      <% unless @user.id == current_user.id %>
        <% if !current_user.latitude.nil? && !@user.latitude.nil? %>
          <p>
            <strong>Distance:</strong>
            <%="#{@user.distance_to([current_user.latitude, current_user.longitude]).round(1)}"%> Km
          </p>
        <% end %>
      <% end %>
    </div>

    <p class="text-secondary mt-3"><%= @user.description %></p>

    <% unless @user.id == current_user.id %>
      <div class="d-flex button-block my-3">
        <% if @single_chatroom %>
          <%= link_to "Message", chatroom_path(@single_chatroom), class: "btn btn-primary d-block w-100" %>
        <% else %>
          <%= button_to 'Message', {:controller => "chatrooms", :action => "create", :name => @chatroom_name} , {:method=>:post, class: "btn btn-primary d-block w-100"}  %>
        <% end %>
        <% if @partner.nil? %>
          <%= button_to 'Add Partner', {:controller => "partners", :action => "create", :requester_id => current_user.id, :requestee_id=> @user.id} , {:method=>:post, class: "btn btn-primary d-block w-100"}  %>
        <% elsif @partner.status == "pending" && @partner.requestee_id == current_user.id%>
          <%= button_to "Reject",  {:controller => "partners", :action => "reject", :requestee_id => current_user.id, :requester_id=> @user.id  },  {:method=>:patch, class: "btn btn-secondary d-block w-100"}  %>
          <%= button_to "Accept",  {:controller => "partners", :action => "accept", :requestee_id => current_user.id, :requester_id=> @user.id },  {:method=>:patch, class: "btn btn-primary d-block w-100"} %>
        <% elsif @partner.status == "pending" && @partner.requester_id == current_user.id%>
          <%= link_to "Cancel Request", partner_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-secondary d-block w-100" %>
        <% elsif @partner.status == "accepted" %>
          <%= link_to "Unfriend", partner_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-secondary d-block w-100" %>
          <%= link_to "Add review", new_user_review_path(@user), class: "btn btn-primary d-block w-100" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
