<div>
  <h1>You're connected to the user show page!</h1>
  <% if @partner.nil? %>
    <%= button_to 'Add Partner', {:controller => "partners", :action => "create", :requester_id => current_user.id, :requestee_id=> @user.id} , {:method=>:post}  %>
  <% else %>
    <%= @partner.status %>
    <%= link_to "Not my partner anymore!", partner_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-secondary" %>
  <% end %>
  <h3>Meet <%=@user.first_name%></h3>
  <% if @user.gender == "Male" %>
    <% pronoun = "He" %>
    <% himher = "him" %>
  <% else %>
    <% pronoun = "She" %>
    <% himher = "her" %>
    <%  %>
  <% end %>
  <p><%=pronoun%> is <%=@user.height%>cm tall.</p>
  <p><%=pronoun%> weighs <%=@user.weight%>kg.</p>
  <% if @user.belt =! "None" %>
    <p><%=pronoun%> is a <%=@user.belt%> belt with <%=@user.years_of_experience%> years of experience!</p>
  <% else %>
    <p><%=pronoun%> is new to BJJ!</p>
  <% end %>
  <p>Here's a fun fact about <%=himher%>: <%= @user.description %></p>
  <%= @user.partners %>
</div>
