<div class="component-container">
  <div class="banner" style="background-image: linear-gradient(rgba(54,77,94,0.8),rgba(54,77,94,0.9)), url(<%= asset_path "jiu-jitsu-bg.jpg" %>);">
    <h1>Forgot your password?</h1>
  </div>
  <div class="form-box bg-white mt-3">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: {turbo: false}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    placeholder: "Email",
                    label: false,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary d-block w-100" %>
      </div>
    <% end %>
  </div>
</div>
<div class="text-center mt-3">
  <%= render "devise/shared/links" %>
</div>
