<div class="footer">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <% if user_signed_in? %>
        <%= link_to "Home", root_path, class: "home" %>
        <%= link_to "Partners", partners_path, class: "partners" %>
        <%= link_to "Events", my_events_path, class: "events" %>
        <%= link_to "Messages", my_messages_path, class: "messages #{'new' unless current_user.unread_messages.empty?}" %>
        <%= link_to "Notifications", notifications_path, class: "notifications #{'new' unless current_user.unread_notifications.empty?}" %>
      <% else %>
        <%= link_to "Home", root_path, class: "home mx-auto" %>
      <% end %>
    </div>
  </div>
</div>
