<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <% if user_signed_in? %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <div class="d-flex align-items-center" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu">
              <% if current_user.photo.key %>
                <%= cl_image_tag current_user.photo.key, crop: :thumb, class: "rounded-circle avatar" %>
              <% else %>
                <%= image_tag "avatar.svg", alt: "user", width: 30 %>
              <% end %>
          </div>
        </li>
      </ul>
    <% end %>

    <%= link_to "/", class: "navbar-brand mx-auto" do %>
      <%= image_tag "home-jitsu.svg", alt: "Home-Jitsu" %>
      <span class="text-primary">Home</span><span class="text-secondary">-</span>Jitsu
    <% end %>

    <% if user_signed_in? %>
      <div class="dropdown search ms-auto">
        <div class="dropdown-toggle d-flex align-items-center" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "icons/search.svg", alt: "user", width: 20 %>
        </div>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Search for partners", "#", class: "dropdown-item py-2" %>
          <%= link_to "Search for events", "#", class: "dropdown-item py-2" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if user_signed_in? %>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="offcanvasMenuLabel"><%= current_user.first_name %> <%= current_user.last_name %></h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="h-100">
      <div class="list-group list-group-flush h-100">
        <%= link_to "My profile", user_path(current_user), class: "list-group-item list-group-item-action py-3" %>
        <%= link_to "Edit account", edit_user_registration_path, class: "list-group-item list-group-item-action py-3" %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "list-group-item list-group-item-action mt-auto border-top py-3" %>
      </div>
    </div>
  </div>
<% end %>
