<%= link_to user_path(user), :action => 'go', class: "card-box bg-white" do %>
  <div class="d-flex message-grid">
    <% if user.photo.key %>
      <%= cl_image_tag user.photo.key, crop: :thumb, class: "rounded-circle avatar" %>
    <% else %>
      <%= image_tag "avatar.svg", alt: "user", width: 40, class: "avatar" %>
    <% end %>
    <div class="flex-grow-1">
      <p class="m-0"><strong><%= user.first_name %> <%= user.last_name %></strong></p>
      <small>
        <% if user.years_of_experience > 0 %>
          <%=user.years_of_experience%> years of experience
        <% else %>
          New to BJJ
        <% end %>
      </small>
    </div>
    <div>
      <% if user.reviews.exists? %>
        <%= render "shared/stars", average_rating: user.reviews.average(:rating).round(2) %>
      <% end %>
      <% if user_signed_in? %>
        <small class="text-end">
          <%# TODO %>
          <%= rand(1..10) %> Km
        </small>
      <% end %>
    </div>
  </div>
<% end %>
