<%= link_to user_path(user), :action => 'go', class: "card-box bg-white" do %>
  <div class="d-flex card-grid">
    <% if user.photo.key %>
      <%= cl_image_tag user.photo.key, crop: :thumb, class: "rounded-circle avatar" %>
    <% else %>
      <%= image_tag "avatar.svg", alt: "user", width: 40, class: "avatar" %>
    <% end %>
    <div class="flex-grow-1">
      <p class="m-0">
        <strong><%= user.first_name %> <%= user.last_name %></strong>
        <% if user.belt != "None" %>
          <%= image_tag "belts/#{user.belt.downcase}-belt.svg", alt: "belt", width: 20, class: "belt" %>
        <% end %>
      </p>
      <small>
        <% if user.years_of_experience > 0 %>
          <%=user.years_of_experience%> years of experience
        <% else %>
          New to BJJ
        <% end %>
      </small>
    </div>
    <div>
      <% if user.reviews.exists? %>
        <%= render "shared/stars", average_rating: user.reviews.average(:rating).round(2) %>
      <% end %>
      <% if user_signed_in? && !current_user.latitude.nil? && !user.latitude.nil? %>
        <small class="text-end">
          <%# TODO %>
          <%="#{user.distance_to([current_user.latitude, current_user.longitude]).round(1)}"%> Km
        </small>
      <% end %>
    </div>
  </div>
<% end %>
