<%= render 'shared/back_bar' %>
<h1>Edit event</h1>
<div class="component-container">
  <div class="form-box bg-white new-review">
    <%= simple_form_for(@event) do |f| %>
      <label class="form-label" for="event_date">Date *</label>
      <%= f.datetime_field :date, as: :datetime, html5: true, min: DateTime.now, class: "form-control mb-3" %>
      <%= f.input :title %>
      <%= f.input :address,
                  hint: "If it's not a real address it won't show up on the map or in the search!" %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-primary d-block w-100" %>
    <% end %>
  </div>
</div>
