<div class="component-container">
  <div class="form-box bg-light-grey">
    <%# TODO: Logic for search and advanced search %>
    <%= form_with url: events_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-icon",
        placeholder: "Close to this address"
      %>
      <a href="#" class="purple-circle-button"><%= image_tag "icons/sliders.svg", alt: "Advanced search", width: 20 %></a>
    <% end %>
  </div>
  <div id='map' style="width: 100%; height: 200px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <% @events.each do |event| %>
    <%= render "shared/event", event: event %>
  <% end %>
</div>
