<%= simple_form_for(@event) do |f| %>
  <p>Date </p>
  <%= f.date_field :date, as: :datetime, html5: true, min: DateTime.now %>
  <%= f.input :title, required: false %>
  <%= f.input :address,
              hint: "If it's not a real address it won't show in the search!" %>
  <%= f.input :description, required: false %>
  <%= f.input :photo, as: :file, label: "Photo (optional)" %>
  <%= f.submit %>
<% end %>
