<div class="event-detail">
  <div class="component-container">
    <% if @event.photo.key %>
      <% image_path = cl_image_path @event.photo.key %>
    <% else %>
      <% image_path = asset_path "jiu-jitsu-bg.jpg" %>
    <% end %>
    <div class="banner" style="background-image: linear-gradient(rgba(54,77,94,0.8),rgba(54,77,94,0.9)), url(<%= image_path %>);">
      <div class="date"><small><%= @event.date.strftime("%a, %b %e. %l:%M %p") %></small></div>
      <h1 class="mt-3"><%= @event.title %></h1>
    </div>
    <% host = @event.host %>
    <%= link_to user_path(host), :action => 'go', class: "card-box bg-white" do %>
      <div class="d-flex card-grid">
        <% if host.photo.key %>
          <%= cl_image_tag host.photo.key, crop: :thumb, class: "rounded-circle avatar" %>
        <% else %>
          <%= image_tag "avatar.svg", alt: "host", width: 40, class: "avatar" %>
        <% end %>
        <div class="flex-grow-1">
          <p class="m-0"><strong><%= host.first_name %> <%= host.last_name %></strong></p>
          <small>
            <% if host.gender == "Female" %>
              Hostess
            <% else %>
              Host
            <% end %>
          </small>
        </div>
        <div>
          <% if host.years_of_experience > 0 %>
            <%=host.years_of_experience%> y
          <% else %>
            New!
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="component-container">
    <div class="form-box">
      <h2 class="mt-0">Details</h2>
      <p class="text-secondary"><%= @event.description %></p>
      <div class="address">
        <small><%= image_tag "icons/map-pin.svg", alt: "here", width: 14 %> <%= @event.address %></small>
      </div>
    </div>
    <div id='map' style="width: 100%; height: 150px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

  <% if !@confirmed_guests.empty? %>
    <h2><%= pluralize( @confirmed_guests.count, 'Attendee') %></h2>
    <div class="component-container">
      <% @confirmed_guests.each do |guest| %>
        <% user = User.find(guest.guest_id) %>
        <%= render "shared/user", user: user %>
      <% end %>
    </div>
  <% end %>

  <% if @event.host_id == current_user.id && @event.date.future? && !@pending_guests.empty? %>
    <h2>Users that want to join your event</h2>
    <div class="component-container">
      <% @pending_guests.each do |guest| %>
        <% user = User.find(guest.guest_id) %>
        <% if guest.status == "Pending" %>
          <div class="card-box bg-white">
            <div class="d-flex card-grid">
              <% if user.photo.key %>
                <%= cl_image_tag user.photo.key, crop: :thumb, class: "rounded-circle avatar" %>
              <% else %>
                <%= image_tag "avatar.svg", alt: "user", width: 40, class: "avatar" %>
              <% end %>
              <div class="flex-grow-1">
                <p class="m-0"><strong><%= user.first_name %> <%= user.last_name %></strong></p>
                <small>
                <% if user.years_of_experience > 0 %>
                  <%=user.years_of_experience%> years of experience
                <% else %>
                  New to BJJ
                <% end %>
                </small>
              </div>
              <div>
                <%= button_to "Accept",  {:controller => "guests", :action => "accept", :event_id => @event.id, :guest_id => guest.id  },  {:method=>:patch, class: "btn btn-primary d-block w-100"} %>
                <%= button_to "Reject",  {:controller => "guests", :action => "reject", :event_id => @event.id, :guest_id => guest.id },  {:method=>:patch, class: "btn btn-secondary d-block w-100"} %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <% if !@include_guest.include?(current_user.id) && @event.date.future? %>
      <%= button_to "Join event", {:controller => "guests", :action => "create", :guest_id => current_user.id, :event_id => @event.id} , {:method=>:post, class: "btn btn-primary d-block w-100 my-3"} %>
    <% elsif @invited_guests_ids.include?(current_user.id) %>
    <% guest = Guest.where(guest_id: current_user.id, event_id: @event.id).last %>
      <div class="d-flex button-block my-3">
        <%= button_to "I'm going",  {:controller => "guests", :action => "accept", :event_id => @event.id, :guest_id => guest.id  },  {:method=>:patch, class: "btn btn-primary d-block w-100"} %>
        <%= button_to "Can't make it",  {:controller => "guests", :action => "reject", :event_id => @event.id, :guest_id => guest.id },  {:method=>:patch, class: "btn btn-secondary d-block w-100"} %>
      </div>
    <% elsif @pending_guests_ids.include?(current_user.id) || @confirmed_guests_ids.include?(current_user.id) %>
    <% guest = Guest.where(guest_id: current_user.id, event_id: @event.id).last %>
      <%= link_to "Decided not to show", guest_path(guest), data: { turbo_method: :delete, turbo_confirm: "Are you sure you won't show up?" }, class: "btn btn-primary d-block w-100 my-3" %>
    <% end %>
  <% end %>
  <% if @event.host_id == current_user.id && @event.date.future? %>
    <div class="d-flex button-block my-3">
      <%= link_to "Edit event", edit_event_path(@event), class: "btn btn-primary d-block w-100" %>
      <%= link_to "Invite partners", invite_partners_path(@event.id), class: "btn btn-primary d-block w-100" %>
      <%= link_to "Delete", event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-secondary d-block w-100" %>
    </div>
  <% end %>
</div>
